body {
  background: #161616;
}

.active {
  background: #3897ff !important;
}

.active-wrong {
  background: #ff386a !important;
}

@keyframes animateCorrect {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);

  }
}

.correct {
  background: #1cd8d3 !important;
  animation: animateCorrect 1s linear alternate-reverse infinite;
}

.main-view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  pointer-events: none;
}

.counter {
  text-align: center;
}

.img-pop {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background: #16161675;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img-pop img {
  width: 100%;
  max-width: 80%;
  height: 100vh;
  object-fit: contain;
}

.img-pop button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #161616;
  border: 1px solid #ccc;
  padding: 10px 30px;
}

.img-pop__options {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: #161616;
  height: 82%;
  gap: 30px;
  padding: 40px 20px;
  justify-content: center;
  font-size: 36px;
}


.counter p {
  text-align: center;
}

.counter h3 {
  font-size: 100px;
  font-weight: 600;
}

/* 
.qz-li {
  opacity: 0;
} */

.answer-won {}


.answer-won:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: linear-gradient(45deg, #189f67, #2b92ff, #00ff00, #ffff00, #2bff00, #009bfb, #38e5f8, #00ff00, #ffff00, #00ff84);
  background-size: 450%;
  z-index: -1;
  animation: rgb-shadow 24s alternate-reverse infinite;
  width: 100%;
  height: 100%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity: 0.9;
}


.answer-defeated {}

.answer-defeated:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: linear-gradient(45deg, #ff0000, #ff7700, #d100dc, #ff0404, #ba1b40, #cf330c, #9e0386, #c11d8a, #ff006f, #ff5500);
  background-size: 450%;
  z-index: -1;
  animation: rgb-shadow 24s alternate-reverse infinite;
  width: 100%;
  height: 100%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity:

    0.9;
}

.qz-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  /* background: #ccf; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url('../public/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

@keyframes rgb-shadow {
  0% {
    background-position: 0 0;
    opacity: 0.5;
  }

  50.01% {
    background-position: 250% 0;
    opacity: 1;

  }

  100% {
    background-position: 0 0;
    opacity: 0.5;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;